body {
    font-family: Arial;
    background-color: white;
   
}

h2 {
    text-align: center;
    margin-top: 20px;
}


form {
    max-width: 600px;
    margin: 0 auto;
    background: rgb(55, 128, 223);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


label {
    font-weight: bold;
}


input[type="text"],
input[type="password"],
textarea {
    width: 66%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 3px;
}


input[type="submit"] {
    width: 40%;
    color: rgb(231, 227, 227);
    padding: 10px 20px;
    background-color: blue;
}
